body {
    background-image: url(./images/adel.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.container
{
    /*background-color: blueviolet;*/
    width: 208px;
    height: 150px;
    background: linear-gradient(to left, #ccffeb, #00b36b);
    box-shadow: 5px 5px 12px red;
    text-align: center;
}

h1
{
    color: #f2647bff;
    text-shadow: 1px 1px 2px rgb(230, 9, 53);
}

h2
{
    color: rgb(8, 28, 176);
    text-shadow: 2px 2px 2px #2222b8;
}

.borderImg {
    border: 5px solid #bfda42;
}